@import url('https://fonts.googleapis.com/css?family=Manrope:300,400,500,700,800');

:root{
	--font-family: Manrope, sans-serif;

	--font-normal: 400;
	--font-medium: 500;
	--font-bold: 700;
	--font-extraBold: 800;
}

html {
	font-size: max(1.4vw, 16px);
}

body{
	font-family: var(--font-family);
}

h1, .h1 {
	margin-bottom: .2em;
	max-width: 10ch;
  font-size: max(10vw, 3.052em);
  font-weight: var(--font-extraBold);
  line-height: .9;
  overflow-y: hidden;
}

h2, .h2 {font-size: 2.441em;}

h3, .h3 {font-size: 1.953em;}

h4, .h4 {font-size: 1.563em;}

h5, .h5 {font-size: 1.25em;}

.lead{
	max-width: 20ch;
  font-size: max(2.2vw, 1.25em);
	margin-left: 9.7em;
}

@media (max-width: 1024px) {
	.lead{
		max-width: 40ch;
		margin-left: 0;
	}
}