@import 'layout.css';
@import 'font.css';
@import 'theme.css';

@import 'sections/header.css';
@import 'sections/home.css';
@import 'sections/work.css';

/* GLOBAL STYLES */
*{
  margin: 0;
  padding: 0;
  background-origin: border-box;
  overflow-x: hidden;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
